# Web API Backend
fastapi
uvicorn[standard]
pydantic

# Data Processing & Manipulation
pandas
numpy

# Machine Learning Core
scikit-learn
joblib
xgboost

# Data Science / Exploration (For ml_pipeline/notebooks)
notebook
ipykernel
